@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
// font-family: "Inter", sans-serif;

#app {
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-style: normal;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  direction: rtl;
}

body {
  font-family: "Rubik", sans-serif !important;
}
input:focus {
  outline: none;
}

a:link,
a:visited {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: #000;
  transition: all 0.3s;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

.container-cust {
  width: 80%;
  margin: 0 auto;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.r-more-btn-c,
.r-more-btn-w {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.673rem;
  text-align: right;
  color: #444444;
  background-color: #def1ff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding: 1rem 5rem;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: #0477be;
    color: #fff;
  }
}
.r-more-btn-w {
  background-color: #fff !important;
  &:hover {
    color: #0477be !important;
    font-weight: bold;
  }
}

.text-b-1 {
  font-family: "Rubik", sans-serif;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
}
.text-b-2 {
  font-family: "Rubik", sans-serif;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 700;
  margin-top: -0.5rem;
  margin-bottom: 0;
}

.nav-route,
.nav-link {
  color: #fff !important;
  font-size: 2rem !important;
  font-weight: 700 !important;
  line-height: 3.838rem !important;
  text-align: right;
  cursor: pointer;
  transition: all 0.05s ease-in;
  &:hover {
    border-bottom: 0.5rem solid #7aaf44;
  }
}

// footer
.first-footer {
  background-color: #07439c;
  div {
    color: #fff;
  }
  .footer-route {
    color: #fff;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.6rem;
    text-align: right;
    border-bottom: 3px solid #fff;
    width: fit-content;
    padding-inline-end: 3rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
  .footer-sub-route {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.454rem;
    text-align: right;
  }
}
.sec-footer {
  background-color: #0477be;
}

.footer-item {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3.454rem;
  text-align: right;
  color: #fff;
}

// slider buttons
.arrow1 {
  animation: moveArrow1 0.8s linear infinite;
}

.arrow2 {
  animation: moveArrow2 0.8s linear infinite;
}

.arrow3 {
  animation: moveArrow3 0.8s linear infinite;
}

@keyframes moveArrow1 {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes moveArrow2 {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(15px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes moveArrow3 {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}
