@import url("https://fonts.cdnfonts.com/css/frutiger-lt-arabic");

:root {
  // colors
  --col-white: #fff;
  --col-blk: #000;
  --col-dark: #121212;
  --col-text: #444444;
  --col-bg: #def1ff;
  --col-blue-lgt: #f6f8ff;
  --col-blue-md: #0477be;
  --col-blue-drk: #07439c;
  --col-succes: #7aaf44;
  --col-succes-lgt: #79af4417;
  --col-danger: #ba313e;

  //fonts
  --fs-8: 0.8rem;
  --fs-10: 1rem;
  --fs-12: 1.2rem;
  --fs-14: 1.4rem;
  --fs-16: 1.6rem;
  --fs-18: 1.8rem;
  --fs-20: 2rem;
  --fs-22: 2.2rem;
  --fs-24: 2.4rem;
  --fs-32: 3.2rem;
  --fs-38: 3.8rem;
  --fs-48: 4.8rem;

  //font weight
  --fw-thin: 100;
  --fw-normal: 400;
  --fw-bold: 700;
  --fw-ex-bold: 900;

  // border radius
  --brd-r-sm: 0.8rem;
  --brd-r-md: 1.2rem;
  --brd-r-lg: 2.4rem;

  //line height

  --line-h-15: 1.5rem;
  --line-h-20: 2rem;
  --line-h-28: 2.8rem;
  --line-h-37: 3.7rem;
  --line-h-49: 4.9rem;
  --line-h-80: 8rem;
  --line-h-92: 9.2rem;

  //font style
  --f-st-upper: uppercase;
  --f-st-capt: capitalize;
  --f-st-norm: normal;

  // box shadow
  --bx-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  --bx-shadow-btn: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --bx-shadow-light: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

#app {
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Frutiger LT Arabic", sans-serif;
  font-style: normal;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

input:focus {
  outline: none;
}

a:link,
a:visited {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: #000;
  transition: all 0.3s;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

.container-cust {
  width: 98%;
  margin: 0 5px;
}

.flex-c {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}

.flex-r {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
}

// custom
.err-border {
  border: 1px solid red !important;
}

.err-msg {
  color: red;
  padding: 0;
  font-size: 12px;
}

.style-17 {
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.5rem;
}

// global buttons
.r-more-btn-c,
.r-more-btn-w {
  font-weight: var(--fw-normal);
  font-size: clamp(0.8rem, 0.229rem + 1.524vw, 1.6rem);
  line-height: var(--line-h-28);
  color: var(--col-text);
  background-color: var(--col-bg);
  border-radius: var(--brd-r-md);
  box-shadow: var(--bx-shadow);
  padding: 1rem 5rem;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: var(--col-blue-md);
    color: var(--col-white);
  }
}

.r-more-btn-w {
  background-color: var(--col-white) !important;

  &:hover {
    color: var(--col-blue-md) !important;
    font-weight: bold;
  }
}

// header
.dropdown-menu {
  width: 30rem;
  margin-top: 1rem !important;
  left: -100% !important;

  .dropdown-item {
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
    color: var(--col-text);
    padding: 1.6rem;
    font-size: var(--fs-18);
    font-weight: bold;
    cursor: pointer;
    &:not(:last-child) {
      border-bottom: 1px solid #ccc;
    }

    &:hover {
      color: var(--col-succes);
      background-color: var(--col-succes-lgt);
    }
  }
}

// nav-bar
.exp-nav {
  .nav-route,
  .nav-link {
    color: var(--col-white) !important;
    font-weight: var(--fw-bold);
    transition: all 0.05s ease-in;
    font-size: var(--fs-20);
    line-height: var(--line-h-37);

    cursor: pointer;

    &:hover {
      border-bottom: 0.5rem solid #7aaf44;
    }
  }
}

// responsive nav-bar
.responsive-nav {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem 0;
  z-index: 999;
  width: 100%;
  height: 100%;

  .nav-body {
    background-color: #00000073;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    transition: all 0.3s ease-in-out;

    .nav-content {
      transition: all 0.3s ease-in-out;
      height: 100vh;
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 5rem 0;

      .nav-list {
        transition: all 0.3s ease-in-out;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 5rem;

        .nav-list-item {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 5rem;
          font-weight: var(--fw-bold);
          line-height: var(--line-h-37);
          color: var(--col-white);
          cursor: pointer;
        }

        .nav-sub-item {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 2rem !important;
          font-weight: 700;
          line-height: 3.838rem;
          color: var(--col-white);
          cursor: pointer;
          margin-bottom: 2rem;

          &:hover {
            color: #d4d4d4;
          }
        }
      }
    }
  }
}

/*                             landing page                 */
// hero section
.hero-sec {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;

  .hero-card-text {
    color: var(--col-white);
    padding: 20rem 10rem !important;

    .title {
      font-weight: var(--fw-bold);
      font-size: var(--fs-48);
      line-height: var(--line-h-92);
    }

    .body {
      font-weight: var(--fw-bold);
      font-size: var(--fs-32);
      line-height: var(--line-h-49);
    }
  }

  .hero-about-us {
    background-color: var(--col-white);
    border-radius: var(--brd-r-md);
    box-shadow: var(--bx-shadow);
    position: absolute;
    left: 50%;
    bottom: -20%;
    transform: translate(-50%);
    z-index: 98 !important;
    padding: 3rem;
    width: 75vw;

    .hero-about-title {
      color: var(--col-blk);
      font-weight: var(--fw-bold);
      font-size: var(--fs-32);
      line-height: var(--line-h-49);
    }

    .hero-about-text {
      color: var(--col-text);
      font-weight: var(--fw-bold);
      font-size: var(--fs-20);
      line-height: var(--line-h-37);
    }

    img {
      border-radius: var(--brd-r-md) !important;
    }
  }
}

// service section
.home-services-sec,
.services-page {
  background-color: var(--col-bg);
  padding-top: 25rem;
  padding-bottom: 10rem;

  .service-title {
    color: var(--col-dark);
    font-size: var(--fs-32);
    font-weight: var(--fw-bold);
    line-height: var(--fs-48);
    margin: 0 auto;
  }

  .service-cards {
    width: 80%;
    margin: 3rem auto;

    .card {
      overflow: hidden;
      background-color: transparent;
      border: none;
      padding: 1rem 1rem;
      flex: 1;
      border-radius: var(--brd-r-lg);
      transition: all 0.8 ease-in-out;
      height: 40rem;
      margin: 5rem 0;

      .card-title {
        transition: all 0.3 ease-in-out;
        font-size: var(--fs-24);
        font-weight: var(--fw-bold);
        color: var(--col-dark);
        line-height: var(--line-h-37);
        padding: 0.5rem 3rem;
      }

      .card-text {
        transition: all 0.3 ease-in-out;
        font-size: var(--fs-16);
        font-weight: var(--fw-bold);
        color: var(--col-dark);
        line-height: var(--line-h-20);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      img {
        transition: all 0.3 ease-in-out;
      }

      &:hover {
        box-shadow: var(--bx-shadow);
      }

      &:hover {
        img {
          transform: scale(1.1);
        }
      }

      &:hover .r-more-btn-w {
        background-color: #eee !important;
        color: var(--col-blue-md);
      }
    }
  }
}

// packages section
.home-packages-sec {
  padding: 5rem 0;

  .home-info {
    padding: 0 3rem 3rem;
    width: 50%;
    margin: 0 auto;

    .home-package-title {
      font-weight: var(--fw-bold);
      color: var(blk);
      line-height: var(--line-h-49);
      font-size: var(--fs-32);
    }

    .home-package-text {
      font-weight: var(--fw-bold);
      font-size: var(--fs-24);
      color: var(--col-text);
      line-height: var(--line-h-37);
    }
  }

  .package-cards {
    .cards {
      background-color: var(--col-bg);
      border-radius: var(--brd-r-lg);
      margin: 3rem 0;
      overflow: hidden;
      padding: 0;

      .card-title {
        font-weight: var(--fw-bold);
        font-size: var(--fs-24);
        line-height: var(--line-h-37);
        color: var(--col-blk);
      }

      .card-lists {
        p {
          font-weight: var(--fw-bold);
          font-size: var(--fs-18);
          line-height: var(--line-h-37);
          color: var(--col-blk);
        }

        li {
          font-weight: var(--fw-bold);
          font-size: var(--fs-16);
          line-height: var(--line-h-28);
          color: var(--col-blk);
        }
      }
    }
  }
}

// package responsive swiper
.pack-res-swiper {
  .card-title {
    font-weight: var(--fw-bold);
    font-size: var(--fs-24);
    line-height: var(--line-h-37);
    color: var(--col-blk);
  }

  .card-lists {
    p {
      font-weight: var(--fw-bold);
      font-size: var(--fs-18);
      line-height: var(--line-h-37);
      color: var(--col-blk);
    }

    li {
      list-style: none;
      font-weight: var(--fw-bold);
      font-size: var(--fs-16);
      line-height: var(--line-h-28);
      color: var(--col-blk);
    }
  }
}

// testimonial section
.home-testimonial-sec {
  border-top: 1rem solid var(--col-succes);
  border-bottom: 1rem solid var(--col-succes);
  background-color: var(--col-bg);

  .metrics-sec {
    height: 30rem;
    position: relative;

    .img-bg {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: var(--col-blue-drk);
      mix-blend-mode: multiply;
    }

    .metrics-title {
      font-weight: var(--fw-bold);
      font-size: var(--fs-18);
      line-height: var(--line-h-37);
      color: var(--col-white);
    }
  }

  .testimonial-swiper {
    padding: 5rem 0;

    .tetimonial-card {
      .card-border {
        transition: all 0.3s ease-in-out;
        padding: 1rem;
        border-radius: var(--brd-r-md);
        background-color: var(--col-bg);
        border: 0.2rem solid var(--col-blue-md);
        height: 45.4rem;

        .card-body {
          transition: all 0.3s ease-in-out;
          height: 100%;
          background-color: var(--col-white);
          border-radius: var(--brd-r-md);
          img {
            transition: all 0.3s ease-in-out;
          }
          .slide-card-title {
            transition: all 0.3s ease-in-out;
            font-weight: var(--fw-bold);
            font-size: var(--fs-18);
            color: var(--col-blue-md);
            line-height: var(--fs-32);
          }

          .slide-card-body {
            transition: all 0.3s ease-in-out;
            font-weight: var(--fw-bold);
            font-size: var(--fs-16);
            color: var(--col-blk);
            line-height: var(--fs-32);
            padding: 0 1rem;
          }
        }
        &:hover {
          background-color: var(--col-blue-md);
          transition: all 0.3s ease-in-out;
          .card-body {
            background-color: var(--col-blue-md);
            img {
              transition: all 0.3s ease-in-out;
              display: none;
            }
            .slide-card-title {
              transition: all 0.3s ease-in-out;
              display: none;
            }
            .slide-card-body {
              transition: all 0.3s ease-in-out;
              color: var(--col-white);
              line-height: var(--line-h-37);
            }
          }
        }
      }
    }
  }
}

// question section
.home-question-sec {
  position: relative;

  .achiement-sec {
    height: 65rem;
    position: relative;

    .img-q-bg {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: var(--col-blue-drk);
      mix-blend-mode: multiply;
    }
    //f
    .achieve-box {
      height: 60% !important;
      overflow: hidden;
      color: var(--col-white);
      padding: 10rem 0 !important;
      font-weight: var(--fw-bold);

      .achiv-lyout {
        width: 85%;

        .achievment-title {
          font-size: var(--fs-18);
          line-height: var(--line-h-37);
        }

        .achievment-count {
          font-size: var(--fs-32);
          line-height: var(--line-h-49);
        }
      }
    }
  }

  .question-bg {
    background-color: var(--col-bg);
    width: 100%;
    height: 40rem;
  }

  .question-sec {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--col-white);
    border-radius: var(--brd-r-md);
    padding: 2rem 7rem 7rem;
    text-align: center;

    .question-sec-title {
      font-weight: var(--fw-bold);
      font-size: var(--fs-32);
      line-height: var(--fs-48);
      padding: 1rem 0;
    }

    .question-card {
      background-color: var(--col-bg);
      box-shadow: var(--bx-shadow-btn);
      padding: 2rem;
      text-align: start;
      border-radius: var(--brd-r-md);
      .questipon-card-title {
        font-weight: var(--fw-bold);
        line-height: var(--fs-32);
        color: var(--col-blk);
        font-size: var(--fs-18);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .questipon-card-text {
        font-weight: var(--fw-bold);
        line-height: var(--line-h-37);
        color: var(--col-blk);
        font-size: var(--fs-16);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

// partner
.home-partner-sec,
.main-resource {
  .partner-box {
    background-image: url("/src/assets/images/Vector (2).png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    padding: 10rem 0 20rem 0;

    .partner-title {
      font-weight: var(--fw-bold);
      font-size: var(--fs-32);
      line-height: var(--line-h-49);
      color: var(--col-blk);
    }

    .partner-text {
      font-weight: var(--fw-bold);
      font-size: var(--fs-24);
      line-height: var(--line-h-37);
      color: var(--col-text);
      width: 50%;
    }

    .partner-card {
      .card {
        background-color: #f2f2f2;
        border-radius: var(--brd-r-md);
        box-shadow: var(--bx-shadow);
        width: 40rem;
        height: 16rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        padding: 2rem;
      }
    }
  }

  .supplies-sec {
    background-color: var(--col-bg);
    padding: 5rem 0;

    .supplies-box {
      width: 80%;

      .supplies-title {
        font-weight: var(--fw-bold);
        font-size: var(--fs-32);
        line-height: var(--line-h-49);
        color: var(--col-blk);
      }

      .supplies-text {
        font-weight: var(--fw-bold);
        font-size: var(--fs-24);
        line-height: var(--line-h-37);
        color: var(--col-text);
        width: 50%;
        padding: 1rem 0 2rem;
      }

      .supplies-swiper {
        padding: 3rem 0;
      }
    }
  }
}

// footer
.footer-bar {
  .first-footer {
    background-color: var(--col-blue-drk);

    .footer-list-head {
      position: relative;
      color: var(--col-white);
      font-size: var(--fs-24);
      font-weight: var(--fw-bold);
      line-height: var(--line-h-37);
      border-bottom: 3px solid #fff;
      width: 70% !important;
      padding-bottom: 1rem;
      margin-bottom: 2rem;
      width: 100%;
      cursor: context-menu !important;
    }

    .footer-list-item {
      color: var(--col-white);
      font-size: var(--fs-18);
      font-weight: var(--fw-normal);
      line-height: var(--line-h-37);
      transition: all 0.3s ease-in-out;
      width: 100%;
      display: inline-block;
      cursor: pointer !important;

      &.has-link {
        &:hover {
          padding: 0 0.7rem;
          background-color: var(--col-blue-md);
          color: var(--col-blue-lgt);
          border-radius: var(--brd-r-sm);
        }
      }
    }
  }
  .sec-footer {
    background-color: #0477be;

    .footer-sec-item {
      font-size: var(--fs-14);
      font-weight: var(--fw-normal);
      line-height: var(--line-h-28);
      color: var(--col-white);
      padding: 1rem 0;
    }
  }
}
/*                                end landing page                 */
/*                                about us page                    */
.about-us {
  .about-us-page {
    width: 85%;
    margin: 5rem auto;

    .about-us-content {
      .about-us-text {
        padding: 0 5rem;
        .about-head {
          background-color: var(--col-bg);
          font-weight: var(--fw-bold);
          font-size: var(--fs-24);
          line-height: var(--line-h-37);
          width: 27.2rem;
          height: 5.6rem;
          border-radius: var(--brd-r-sm);
          display: flex;
          align-items: center;
          padding-inline-start: 2rem;
        }
        .about-title {
          font-weight: var(--fw-bold);
          font-size: var(--fs-32);
          line-height: var(--line-h-49);
          color: var(--col-blk);
        }
        .about-body {
          font-weight: var(--fw-normal);
          font-size: var(--fs-18);
          line-height: var(--line-h-37);
          color: var(--col-text);
        }
      }
      .about-us-img {
        background-image: url("/src/assets/about_image/bgimg.png");
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: contain;
      }
    }
    .our-vission-content {
      background-color: var(--col-bg);
      border-radius: var(--brd-r-sm);
      margin: 5rem 0 2rem;
      padding: 3rem;

      .our-vission-text {
        padding: 3rem;
        .vission-head {
          background-color: var(--col-white);
          font-weight: var(--fw-bold);
          font-size: var(--fs-24);
          line-height: var(--line-h-37);
          width: 27.2rem;
          height: 5.6rem;
          border-radius: var(--brd-r-sm);
          display: flex;
          align-items: center;
          padding-inline-start: 2rem;
        }
        .vission-body {
          font-weight: var(--fw-bold);
          font-size: var(--fs-32);
          line-height: var(--line-h-49);
          color: var(--col-blk);
        }
      }
    }
    .mission-goals-content {
      .mission-goals {
        border-radius: var(--brd-r-sm);
        background-color: var(--col-bg);
        padding: 3rem;
        .mission-text {
          .mission-head {
            background-color: var(--col-white);
            font-weight: var(--fw-bold);
            font-size: var(--fs-24);
            line-height: var(--line-h-37);
            width: 27.2rem;
            height: 5.6rem;
            border-radius: var(--brd-r-sm);
            display: flex;
            align-items: center;
            padding-inline-start: 2rem;
          }
          .mission-body {
            font-weight: var(--fw-bold);
            font-size: 2.8rem;
            line-height: var(--line-h-49);
            color: var(--col-blk);
            margin-top: 1rem;
          }
        }
      }
    }
  }
  .our-values {
    background-color: var(--col-bg);
    padding: 3rem;
    margin: 0 auto;
    .values-head {
      background-color: var(--col-white);
      font-weight: var(--fw-bold);
      font-size: var(--fs-24);
      line-height: var(--line-h-37);
      width: 27.2rem;
      height: 5.6rem;
      border-radius: var(--brd-r-sm);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .our-values-content {
      width: 80%;
      margin: 3rem auto;
      .values-card {
        justify-content: space-between;
        border: 1px solid var(--col-blue-drk);
        padding: 1rem !important;
        border-radius: var(--brd-r-md);
        margin: 1rem;
        .values-content {
          width: 42.8rem;
          height: 23.8rem;
          padding: 3rem;
          border-radius: var(--brd-r-md);
          background-color: var(--col-white);
          .card-title {
            font-size: var(--fs-24);
            line-height: var(--line-h-37);
            color: var(--col-text);
            font-weight: var(--fw-bold);
          }
          .card-body {
            font-size: var(--fs-16);
            line-height: var(--line-h-28);
            color: var(--col-text);
            font-weight: var(--fw-bold);
          }
        }
      }
    }
  }
}

// about us

// app content
// service section
// .float-info {
//   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   flex-wrap: wrap;
//   align-items: center;
//   border-radius: 1.2rem;
//   padding: 3rem;
//   gap: 5rem;
//   width: 70%;
//   background-color: white;
//   position: absolute;
//   left: 50%;
//   bottom: 30%;
//   transform: translateX(-50%);
//   .float-head {
//     font-size: 3.2rem;
//     font-weight: 700;
//     line-height: 4.9rem;
//     text-align: right;
//   }
//   .float-body {
//     font-size: 2rem;
//     font-weight: 700;
//     line-height: 3.6rem;
//     text-align: right;
//   }
// }

// .serv-card {
//   min-height: 40rem;
//   .serv-card-item {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: center;
//     flex-wrap: wrap;
//     .s-card {
//       min-height: 45rem;
//       padding: 2.8rem 3rem;
//       opacity: 0px;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       justify-content: space-between;
//       border-radius: 1.2rem;
//       transition: all 0.2s step-start;
//       flex-wrap: wrap;
//       &:hover {
//         background-color: #fff;
//         border-radius: 1.2rem;
//         box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
//       }

//
//     }
//   }

//   .serv-head {
//     font-size: clamp(0.8rem, -0.343rem + 3.048vw, 2.4rem);
//     font-weight: 700;
//     line-height: 3.6rem;
//     text-align: center;
//   }
//   .serv-body {
//     font-size: clamp(0.4rem, -0.457rem + 2.286vw, 1.6rem);
//     font-weight: 700;
//     line-height: 3.07rem;
//     text-align: center;
//     display: -webkit-box;
//     -webkit-box-orient: vertical;
//     -webkit-line-clamp: 2;
//     line-clamp: 2;
//     overflow: hidden;
//     text-overflow: ellipsis;
//   }
// }

// package
// .package-sec {
//   padding: 5rem 0;

//   .package-head {
//     font-size: 3.2rem;
//     font-weight: 700;
//     line-height: 4.9rem;
//     text-align: center;
//   }

//   .package-body {
//     font-size: 2.4rem;
//     font-weight: 700;
//     line-height: 3.6rem;
//     text-align: center;
//     width: 50%;
//     margin: 2rem auto;
//     padding-bottom: 3rem;
//   }

//   .package-card {
//     display: flex;
//     flex-direction: column;
//     gap: 2rem;

//     .package-info {
//       overflow: hidden;
//       background-color: #def1ff;
//       border-radius: 1.2rem;
//       display: flex;
//       flex-direction: row;
//       justify-content: space-between;
//       align-items: center;
//       flex-wrap: wrap;
//       .package-card-body {
//         padding: 2rem 5rem;

//         .package-card-title {
//           font-size: 2.4rem;
//           font-weight: 700;
//           line-height: 3.6rem;
//           text-align: right;
//         }

//         .card {
//           background-color: transparent;
//           border: none;

//           span {
//             width: 50%;
//             .card-title {
//               font-size: 1.8rem;
//               font-weight: 700;
//               line-height: 3.454rem;
//               text-align: right;
//             }

//             .card-list {
//               padding: 0 1rem;
//               width: 100%;
//               font-size: 1.6rem;
//               font-weight: 700;
//               line-height: 3.07rem;
//               text-align: right;

//               li {
//                 list-style-type: "-  ";
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }

// .package-info-respon {
//   display: none;
//   background-color: #def1ff;
//   border-radius: 1.6rem;
//   padding: 2.5rem;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   margin: 0 2rem;
//   width: 100%;
//   img {
//     border-radius: 1.6rem;
//   }
//   .res-head {
//     font-size: 2.4rem;
//     font-weight: 700;
//     line-height: 3.6rem;
//     text-align: center;
//   }
//   .res-box {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     margin-bottom: 4rem;
//     .res-box-title {
//       font-size: 1.8rem;
//       font-weight: 700;
//       line-height: 3.454rem;
//     }
//     .res-box-list {
//       li {
//         font-size: 1.6rem;
//         font-weight: 700;
//         line-height: 3.07rem;
//         text-align: right;
//       }
//     }
//   }
// }
