// /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 350px) {
  html {
    font-size: 23% !important;
  }
  body {
    background-color: lightblue !important;
  }
  //   responsive header
  .responsive-nav {
    .nav-content {
      padding: 20rem 0 !important;
      .nav-list {
        justify-content: flex-start !important;
        gap: 5rem !important;
        .nav-list-item {
          font-size: 3rem !important;
        }
      }
    }
  }
  //   footer
  .footer-bar {
    .first-footer {
      text-align: center;
      .footer-list-head {
        width: 30%;
        margin: 3rem auto 1rem;
        border-bottom: 1px solid #fff;
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 350px) and (max-width: 767px) {
  html {
    font-size: 28% !important;
  }
  body {
    background-color: red !important;
  }
  //   responsive header
  .responsive-nav {
    .nav-content {
      padding: 15rem 0 !important;
      .nav-list {
        justify-content: flex-start !important;
        gap: 7rem !important;
        .nav-list-item {
          font-size: 4rem !important;
        }
      }
    }
  }
  //   footer
  .footer-bar {
    .first-footer {
      text-align: center;
      .footer-list-head {
        width: 35%;
        margin: 3rem auto 1rem;
        border-bottom: 1px solid #fff;
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 28% !important;
  }
  body {
    background-color: rgb(43, 255, 0) !important;
  }
  //   footer
  .footer-bar {
    .first-footer {
      .footer-list-head {
        margin: 3rem auto 1rem;
        border-bottom: 1px solid #fff;
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 40% !important;
  }
  body {
    background-color: rgb(208, 255, 0) !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  html {
    font-size: 48% !important;
  }
  body {
    background-color: rgb(0, 4, 255) !important;
  }
}

/* Extra large devices (large laptops and desktops, 1400px and up) */

@media only screen and (min-width: 1400px) {
}
